@using Microsoft.AspNetCore.Components

    <div class="col-md-8" style="margin-top: 15%; text-align: center;">
        <img src="../assets/image/icn-gagal.png" style="width: 15%;"><br><br>
        <p class="teks-desc6">Histori Transaksi Anda <b style="color: rgb(211, 42, 0);">Tidak Berhasil</b> dicetak</p>
        <p class="teks-desc6">"Harap menghubungi <b>customer service</b> untuk info lebih lanjut"</p>
    </div>

@code {

}
