@using Microsoft.AspNetCore.Components

    <div class="col-md-8" style="margin-top: 7%; text-align: center;">
        <h2 id="" class="teks-hello2"><b>Masukkan buku Anda pada printer<br>lalu tekan tombol CETAK</b></h2>
        <p id="" class="teks-desc4">Pastikan buku yang Anda masukkan adalah buku tabungan<br>yang ingin dicetak mutasinya</p>
        <img src="../assets/image/print bni.png" style="width: 50%; margin-top: 5%;">
        <div id="" style="text-align: center; margin-top: 5%;">
            <p><button type="button" class="btn btn-danger2" id="myBtn">Cetak</button></p>
            <p><button type="button" class="btn btn-danger-no" style="margin-top: 0.1rem;">Batal</button></p>
        </div>
    </div>

@code {

}
