@inherits LayoutComponentBase
<div class="wrapper">
    <div class="main-panel">
        <div class="content">
            @Body
        </div>
        <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
    </div>
    </div>