@using Microsoft.AspNetCore.Components

    <div class="col-md-8" style="margin-top: 15%; text-align: center;">
        <img src="../assets/image/icn-berhasil.png" style="width: 15%;"><br><br>
        <p class="teks-desc6">Histori Transaksi Anda <b style="color: rgb(0, 211, 95);">Berhasil</b> dicetak</p>
        <p class="teks-desc6">"Ambil Kertas pada bagian bawah Mesin"</p>

    </div>

@code {

}
